<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOME PAGE</h1>
    <p>every thing starts from here...</p>
    <p>مهم‌ترین خطی که باید در اینجا به آن توجه شود خط حاوی APP_DIRS  که برابر درست است، موتور الگوی Django در هر برنامه فهرست شده در INSTALLED_APPS به دنبال الگوها در پوشه‌ای به نام templates می‌رود. جنگو پوشه‌ای را برای شما ایجاد نمی‌کند، بنابراین بیایید یک پوشه برای template ایجاد کنیم. سپس می‌توانید فایل هار مرتبط با صفحات html را در این پوشه نگه‌داری نمایید.   حال می‌توانید با استفاده از دستور render به‌جای بازگردانی یک پاسخ صدا به درخواست کاربر از صفحات استفاده نمایید.  </p>
    
</body>
</html>